---
#Add "layout: compress" here to compress the html code
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
{% include head.html %}

<body>
  <div class="download-bar">
    <a href="javascript:void(0)"
      onclick="alert('Tip: In the print dialog, make sure to enable \'Background graphics\' (under \'More settings\' in Chrome) so the dark theme colors appear in your PDF.'); window.print();"
      class="btn btn-download-pdf">
      <i class="fas fa-download"></i> Download PDF
    </a>
  </div>

  <div class="wrapper">
    {% include sidebar.html %}

    <div class="main-wrapper">
      {{ content }}
    </div>
  </div>

  {% include footer.html %}

  {% include scripts.html %}
</body>

</html>